/* font-family: "Poppins", sans-serif; */

/* font-family: "Nerko One", cursive; */

/* header  */

.top {
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 38px 130px;
    display: inline-block;
}

.logolink {
    vertical-align: middle;
    width: 46px;
    height: 46px;
}

.headernav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 692px;
}

.headerli {
    display: inline-block;
}

.middleli {
    margin-inline: 80px;
}

.headerfont {
    font-family: "Nerko One", cursive;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5%;
    color: #FFFFFF;
}

/* section  */

.info {
    background-color: #C2F3EE;
    width: 1440px;
    padding: 80px 130px;

}

.sectionpic {
    vertical-align: top;
}

.sectarticle {
    width: 460px;
    display: inline-block;
    margin-left: 116px;
    vertical-align: top;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.5%;
    color: #272727;
    margin-bottom: 27px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5%;
    color: #272727;
    text-align: left;
}

button {
    width: 113px;
    height: 46px;
    margin-top: 45px;
    background-color: #2A9D8F;
    border: none;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* article  */
.tentang {
    width: 780px;
    margin: 180px 330px;
}

.title2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #06686E;
    margin-bottom: 80px;
}

.info2 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5%;
    text-align: justify;
    color: #337C81;
}